<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Search</key>
    <dict>
      <key>VoDLocker</key>
      <dict></dict>
    </dict>
    <key>URL</key>
    <dict>
      <key>VoDLocker</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^(?:uss\/)?(?!.*\.jpg)https?\:\/\/(www\.)?vodlocker\.\w+\/.+</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
