<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>URL</key>
    <dict>
      <key>DaClips</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?daclips\.\w+\/.+</string>
        </array>
      </dict>
      <key>FileHoot</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?filehoot\.\w+\/.+</string>
        </array>
      </dict>
      <key>GorillaVid</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^(?:uss\/)?https?\:\/\/(www\.)?gorillavid\.\w+\/.+</string>
        </array>
      </dict>
      <key>MovPod</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?movpod\.\w+\/.+</string>
        </array>
      </dict>
      <key>PowerWatch</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^nahttps?\:\/\/(www\.)?powerwatch\.\w+\/.+</string>
        </array>
      </dict>
      <key>Rapidvideo</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?rapidvideo\.ws\/.+</string>
          <string>^(?:uss\/)?https?\:\/\/(www\.)?faststream\.\w+\/.+</string>
        </array>
      </dict>
      <key>Streame</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^nahttps?\:\/\/(www\.)?streame\.\w+\/.+</string>
        </array>
      </dict>
      <key>Streamin</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?streamin\.\w+\/.+</string>
        </array>
      </dict>
      <key>StreamPlay</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?streamplay\.\w+\/.+</string>
        </array>
      </dict>
      <key>Vidto</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vidto\.\w+\/.+</string>
        </array>
      </dict>
      <key>XFileShare</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?goodvideohost\.(?:[^\/]+\/).+</string>
          <string>^nahttps?\:\/\/(www\.)?thevideobee\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(www\.)?vidtodo\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(www\.)?vidplay\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(www\.)?yourvideohost\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(www\.)?zstream\.(?:[^\/]+\/).+</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
