<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>URL</key>
    <dict>
      <key>MyStream</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(?:www\.)?fastplay\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(?:www\.)?megamp4\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(?:www\.)?mystream\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(?:www\.)?shitmovie\.\w+\/.+</string>
          <string>^https?\:\/\/(?:www\.)?speedplay(\d+)?\.\w+\/.+</string>
          <string>^https?\:\/\/(?:www\.)?youlol(\d+)?\.\w+\/.+</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
