<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>WholeCloud</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^https?\:\/\/(?:www\.|embed\.)?auroravid\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?bitvid\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?cloudtime\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?cloudy\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?movshare\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?novamov\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?nowvideo\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?videoraj\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?videoweed\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?vid(?:gg\.\w+|\.gg)\/.+</string>
        <string>^https?\:\/\/(?:www\.|embed\.)?wholecloud\.(?:[^\/]+\/).+</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
