<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Search</key>
    <dict>
      <key>XVIDSTAGE</key>
      <dict></dict>
    </dict>
    <key>URL</key>
    <dict>
      <key>Aisfile</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?aisfile\.\w+\/.+</string>
        </array>
      </dict>
      <key>BDUpload</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?bdupload\.\w+\/.+</string>
        </array>
      </dict>
      <key>LetWatch</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?letwatch\.\w+\/.+</string>
          <string>^https?\:\/\/(www\.)?vidshare\.us\/.+</string>
        </array>
      </dict>
      <key>Movdivx</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?movdivx\.\w+\/.+</string>
          <string>^https?\:\/\/(www\.)?tusfiles\.\w+\/.+</string>
          <string>^https?\:\/\/(www\.)?uploadkadeh\.\w+\/.+</string>
        </array>
      </dict>
      <key>MyVidStream</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?myvidstream\.\w+\/.+</string>
        </array>
      </dict>
      <key>Putvid</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?putvid\.\w+\/.+</string>
        </array>
      </dict>
      <key>SaveFile</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?savefile\.\w+\/.+</string>
        </array>
      </dict>
      <key>SendMyWay</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?sendmyway\.\w+\/.+</string>
        </array>
      </dict>
      <key>VideoNest</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?videonest\.\w+\/.+</string>
        </array>
      </dict>
      <key>Vidplay</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vidplay\.\w+\/.+</string>
        </array>
      </dict>
      <key>Weebvid</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?weebvid\.\w+\/.+</string>
        </array>
      </dict>
      <key>XVIDSTAGE</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?xvidstage\.\w+\/.+</string>
        </array>
      </dict>
      <key>ZStream</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?zstream\.\w+\/.+</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
