<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Search</key>
    <dict>
      <key>VidWatch</key>
      <dict>
        <key>Identifier</key>
        <string>com.plexapp.plugins.xvideosharing</string>
      </dict>
    </dict>
    <key>URL</key>
    <dict>
      <key>HDViD</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?hdvid\.\w+\/.+</string>
        </array>
      </dict>
      <key>iDoWatch</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?idowatch\.\w+\/.+</string>
        </array>
      </dict>
      <key>MegaMP4</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?megamp4\.\w+\/.+</string>
        </array>
      </dict>
      <key>MyStream</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(?:www\.)?fastplay\.\w+\/.+</string>
          <string>^https?\:\/\/(?:www\.)?mystream\.\w+\/.+</string>
        </array>
      </dict>
      <key>PlayU</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?playu\.\w+\/.+</string>
        </array>
      </dict>
      <key>PutLoad</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(?:www\.)?putload\.\w+\/.+</string>
          <string>^https?\:\/\/(?:www\.)?shitmovie\.\w+\/.+</string>
          <string>^https?\:\/\/(?:www\.)?youlol(\d|\w)?\.\w+\/.+</string>
        </array>
      </dict>
      <key>SpeedPlay</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(?:www\.)?speedplay(\d|\w)?\.\w+\/.+</string>
        </array>
      </dict>
      <key>VidABC</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vidabc\.\w+\/.+</string>
        </array>
      </dict>
      <key>Videorev</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?videorev\.\w+\/.+</string>
        </array>
      </dict>
      <key>Vidshare</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vidshare\.(?:[^\/]+(?&lt;!us)\/).+</string>
        </array>
      </dict>
      <key>VidToDo</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vidtodo\.\w+\/.+</string>
        </array>
      </dict>
      <key>VidWatch</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vidwatch\.\w+\/.+</string>
        </array>
      </dict>
      <key>VODlock</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vodlock\.\w+\/.+</string>
        </array>
      </dict>
      <key>WatchVideo</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?watchvideo\.\w+\/.+</string>
          <string>^https?\:\/\/(www\.)?watchvideo\d+\.\w+\/.+</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
