<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>URL</key>
    <dict>
      <key>iDoWatch</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?idowatch\.\w+\/.+</string>
        </array>
      </dict>
      <key>MegaMP4</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?megamp4\.\w+\/.+</string>
        </array>
      </dict>
      <key>MyStream</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(?:www\.)?fastplay\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(?:www\.)?mystream\.(?:[^\/]+\/).+</string>
          <string>^https?\:\/\/(?:www\.)?shitmovie\.\w+\/.+</string>
          <string>^https?\:\/\/(?:www\.)?speedplay(\d|\w)?\.\w+\/.+</string>
          <string>^https?\:\/\/(?:www\.)?youlol(\d|\w)?\.\w+\/.+</string>
        </array>
      </dict>
      <key>Vidshare</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?vidshare\.(?:[^\/]+(?&lt;!us)\/).+</string>
        </array>
      </dict>
      <key>WatchVideo</key>
      <dict>
        <key>URLPatterns</key>
        <array>
          <string>^https?\:\/\/(www\.)?watchvideo\.\w+\/.+</string>
          <string>^https?\:\/\/(www\.)?watchvideo\d+\.\w+\/.+</string>
        </array>
      </dict>
    </dict>
  </dict>
</plist>
