<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>URL</key>
  <dict>
    <key>FileNuke</key>
    <dict>
      <key>URLPatterns</key>
      <array>
        <string>^nahttps?\:\/\/(?:www\.)?filenuke\.(?:[^\/]+\/).+</string>
        <string>^https?\:\/\/(?:www\.)?sharesix\.(?:[^\/]+\/).+</string>
      </array>
    </dict>
  </dict>
</dict>
</plist>
